html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

header {
    border-bottom: solid 1px;
    border-color: rgb(224, 223, 223);
}

button {
    background-color: rgb(243, 243, 243);
    background-image: url("images/search.png");
    height: 21px;
    width: 21px;
    border: none;
    outline: none;
    position: relative;
    display: inline-block;
    right: 63px;
    top: 5px;
    cursor: pointer;
}

h3 {
    font-weight: 100;
}

footer {
    border-top: 1px solid rgb(228, 228, 228);
    background-color: rgb(242, 242, 242);
    padding-bottom: 12px;
}

footer ul {
    padding-left: 166px;
}

footer ul li a {
    text-decoration: none;
    color: rgb(116, 116, 116);
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding-right: 23px;
}

footer ul li a:hover {
    text-decoration: none;
    color: black;
}

#navbar-search {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0;
    z-index: 9;
    background-color: white;
}

#google-logo {
    display: inline-block;
    height: 30px;
    padding-top: 28px;
    padding-left: 30px;
}

#navbar-search form {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 24px;
}

#search-box {
    height: 44px;
    width: 610px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(224, 223, 223);
    border-width: 1px;
    outline: none;
    padding: 0px 0px 0px 20px;
    font-size: 16px;
}

#search-box:hover {
    box-shadow: 0px 3px 8px -1px rgba(10, 10, 10, 0.24);
}

::placeholder {
    color: rgb(53, 53, 53);
}

#voice {
    position: relative;
    display: inline-block;
    right: 81px;
    top: 6px;
    cursor: pointer;
}

#navbar-search-right {
    float: right;
    padding-top: 26px;
}

#navbar-search-right ul {
    display: inline;
}

#apps-image {
    padding-right: 18px;
    transform: translate(3px, 8px);
}

#apps-image a {
    background-image: url("images/apps1.png");
    padding-bottom: 1px;
    padding-left: 18px;
}

#apps-image a:hover {
    background-image: url("images/apps2.png");
    padding-bottom: 1px;
    padding-left: 18px;
}

#gmail-image {
    padding-right: 28px;
}

#gmail-image a {
    background-image: url("images/gmail1.png");
    padding-left: 34px;
    padding-bottom: 17px;
}

#navbar-right {
    display: inline;
    margin-left: 80.5px;
}

#navbar {
    display: block;
    margin-top: 90px;
    margin-left: 154px;
    padding-bottom: 14px;
}

#navbar ul li a {
    text-decoration: none;
    color: rgb(116, 116, 116);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    margin-right: 11.2px;
    padding-right: 17px;
    padding-bottom: 12px;
}

#navbar ul li a:hover {
    text-decoration: none;
    color: black;
}

#first-nav {
    color: rgb(22, 119, 231) !important;
    font-weight: 700;
    border-bottom: 3px solid rgb(22, 119, 231);
    padding-left: 16px;
}

#last-navbar {
    padding-left: 3px;
}

#last-navbar:hover {
    border: 1px solid rgb(196, 196, 196);
    color: rgb(119, 119, 119) !important;
    background-color: rgb(248, 248, 248);
    background-image: linear-gradient(to bottom, rgb(248, 248, 248), rgb(239, 239, 239));
    border-radius: 2px;
    padding-bottom: 6px;
    padding-right: 19px;
    padding-top: 6px;
    padding-left: 19px;
    margin-left: -17px;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.26);
}

#center {
    margin-left: 150px;
    margin-top: 14px;
    width: 625px;
}

#results {
    font-family: 'Roboto', Arial, sans-serif;
    color: grey;
    font-size: 13px;
}


#search-result h3 a {
    text-decoration: none;
    color: rgb(30, 30, 163);
}

#search-result h3 a:visited {
    color: #609;
}

#search-result h3 {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0px;
    font-weight: 400;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 3px;
}

#search-result p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    margin: 0px;
    margin-bottom: 30px;
    line-height: 1.6;
    margin-top: 3px;
    color: rgb(99, 99, 99);
}

#related-search {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0px;
    font-size: 15.3px;
    color: rgb(46, 46, 46);
    font-weight: 100 !important;
    width: 370px;
}

#related-search h3 {
    margin-bottom: 20px;
}

#location {
    padding-top: 3px;
    padding-left: 166px;
    padding-bottom: 15px;
}

#location div {
    display: inline-block;
}

#location p {
    display: inline;
    font-family: Arial, sans-serif;
    color: rgb(116, 116, 116);
    font-size: 13px;
}

#location p a {
    text-decoration: none;
    color: rgb(116, 116, 116);
    font-family: 'Roboto', Arial, sans-serif;
}

#location p a:hover {
    text-decoration: none;
    color: black;
}

#location p strong {
    color: rgb(48, 48, 48);
    letter-spacing: 0.2px;
}

.green-link {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 10px;
    text-decoration: none;
    color: rgb(2, 116, 2);
    font-size: 14px;
}

.green-triangle {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid rgb(1, 102, 1);
    display: inline-block;
    position: relative;
    top: -3px;
    left: 2px;
}

.question-column {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
}

.question-row {
    flex-direction: row;
    border: 1px solid rgb(214, 214, 214);
    border-width: 1px 0px 0px 0px;
}

.question-row.question-pointer {
    cursor: pointer;
}

#question-first p {
    color: grey;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    margin: 15px 0px 10px 15px;
}

#question-feedback {
    border: 0px;
    text-align: right;
}

#question-feedback a {
    text-decoration: none;
    color: grey;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
}

#question-feedback a:hover {
    text-decoration: underline;
}

.question-row p {
    display: inline-block;
    margin: 5px 0px 5px 15px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    color: rgb(36, 36, 36);
}

.right {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid grey;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.question-arrow {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.related-row {
    display: flex;
}

.related-column {
    flex: 100px;
    flex-direction: column;
}

.related-column div {
    margin-bottom: 7px;
}

.related-column div a {
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
    color: rgb(22, 22, 158);
    font-weight: 800;
    font-size: 14.2px;
    filter: blur(0);
}

.related-column div a:hover {
    text-decoration: underline;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
}

#more-pages {
    margin-left: 315px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#more-pages ul li {
    background-image: url("images/nav-logo.png");
    height: 25px;
    width: 20px;
    background-position: -75px -8px;
    background-repeat: no-repeat;
    margin-left: -4px;
}

#more-pages ul li a {
    display: block;
    text-align: center;
    padding-top: 32px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12.5px;
    text-decoration: none;
    color: rgb(22, 119, 231);
}

#more-pages ul li a:hover {
    text-decoration: underline;
}

#more-pages-first {
    background-image: url("images/nav-logo.png");
    height: 30px !important;
    width: 50px !important;
    background-position: -22px 0px !important;
    background-repeat: no-repeat;
    margin-right: 2px;
}

#more-pages-first p {
    text-align: right;
    padding-top: 29px;
    position: relative;
    right: 6px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
}

#more-pages-last {
    background-image: url("images/nav-logo.png");
    height: 40px !important;
    width: 80px !important;
    background-position: -95px 0px !important;
    background-repeat: no-repeat;
    margin-left: -6px !important;
}

#more-pages-last a {
    padding-top: 40px !important;
    position: relative;
    text-align: right !important;
}